#map {
    height:100vh;
    width: 100%;
    position: relative;
}

.formBlock {
    max-width: 300px;
    background-color: #FFF;
    border: 1px solid #ddd;
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px;
    z-index: 999;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    border-radius: 5px;
    width: 100%;
}

.input {
    padding: 10px;
    width: 100%;
    border: 1px solid #000;
    font-size: 16px;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
}

.input:focus {
    outline: none !important;
    border:1px solid;
    border-color: "#06f";
  }

#form {
    padding: 0;
    margin: 0;
}
input:nth-child(1) {
    margin-bottom: 10px;
}

.button {
  align-items: center;
  background-color: #fff;
  border: 1px solid #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 32px;
  justify-content: center;
  letter-spacing: .8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 10px;
}

.button:focus {
  color: #171e29;
}

.button:hover {
  background-color: #000;
  color: #fff;
  fill: #000;
}

.button:active {
    background-color: #000;
    color: #fff;
    fill: #000;
}